body {background-color: grey;}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}

h1{
	text-align: center;
	color: #003674;
	margin-bottom: 0px;
	font-size: xx-large;
}


p#tex{	 
	width:95%;
	margin-left: auto;
	margin-right: auto;
	padding: 7.5px;
	padding-top: 35px
	
}

p#tag
{
	position: absolute;
	right: 37%;
	background-color: #003674;
	color: white;
	width: 25%;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	padding-top: 3px;
}

div#container{
	position: relative;
	background-color: #6897de;
	color: #222233;
	border: 1px solid black;
	float: left;
	margin: 5px;
}

div#container3{
	position: relative;
	background-color: #6897de;
	color: #222233;
	border: 1px solid black;
	float: left;
	margin: 5px;
}

@media (min-width: 992px){

.col-desk{
	width: 32%;
}

 }

@media (min-width: 768px) and (max-width: 991px){

	#container3{
		position: relative;
		background-color: #6897de;
		color: #222233;
		border: 1px solid black;
		float: left;
		margin: 5px;
		width: 96%;
	}

.col-tabl{

	width: 48%;
}

}



@media(max-width: 767px){ 
.col-mobi{
	width:95%;
	}
}


}